# Ignore raw data
data/raw_data

# Ignore processed data
data/processed_data

# Ignore motif files
data/motif_files

# Ignore meta data
data/meta_data

# Ignore already made figures
figures/fig2/*.pdf
figures/fig3/*.pdf
figures/fig4/*.pdf
figures/fig5/*.pdf
figures/figS2/*.pdf

# Ignore already made tables
tables/*.csv

# Ignore R temporary files
figures/fig2/.Rapp.history
figures/fig3/.Rapp.history
figures/fig4/.Rapp.history
figures/fig5/.Rapp.history
figures/figS2/.Rapp.history
*.Rhistory
*.RData
*.Rproj
*.Rprofile
*.RDataTmp
*.log
.DS_Store
.Rproj.user/
.RDataTmp1
analysis/04_make_bedfiles.R
analysis/04_make_bedfiles.R
analysis/make_bedfiles_e13_e16.R
notebooks/comparepeaks_e13_16.Rmd
analysis/04_make_bedfiles.R
notebooks/atacseq_ctrl_e13-e16_2025-02-18.Rmd
tables/scripts/tableS_RBPJmotif_cellidentitygenes.R
tables/table_S_rbpjmotif_glia_progenitor.xlsx
tables/table_S_rbpjmotif_neuron.xlsx
tables/table_S_rbpjmotif_shh.xlsx
analysis/04_make_bedfiles.R
